/** @type {import('tailwindcss').Config} */
export default {
  content: [ `app/**/*.{js,ts,hbs,gjs,gts,html}` ],
  theme: {
    extend: {
      colors: {
        blue: {
          50: '#e6e6ff',
          100: '#b0b0ff',
          200: '#8a8aff',
          300: '#5454ff',
          400: '#3333ff',
          500: '#0000ff',
          600: '#0000e8',
          700: '#0000b5',
          800: '#00008c',
          900: '#00006b',
        },
        orange: {
          50: '#fff6e6',
          100: '#ffe3b0',
          200: '#ffd68a',
          300: '#ffc354',
          400: '#ffb733',
          500: '#ffa500',
          600: '#e89600',
          700: '#b57500',
          800: '#8c5b00',
          900: '#6b4500',
        },
        purple: {
          50: '#f6e9fe',
          100: '#e2bafa',
          200: '#d398f8',
          300: '#ffc354',
          400: '#ffb733',
          500: '#ffa500',
          600: '#e89600',
          700: '#b57500',
          800: '#8c5b00',
          900: '#6b4500',
        },
      }
    },
  },
  plugins: [],
};
